# Laravel default
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache

# IDE/Editor configs
/.idea
/.vscode
/.fleet
/.zed

# OS & misc
*.log
npm-debug.log
yarn-error.log
auth.json

# Others
/public/hot
/public/build
Homestead.json
Homestead.yaml
.phpactor.json
